@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    /* Variáveis */
    --background-color: #f6f8fa;
    --header-background-color: #333;
    --header-border-color: #ddd;
    --card-border-color: #666;
    --card-border-radius: 8px;
    --card-accent-color: #4078c0;
    --text-color: #000;
    --link-color: #333;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
}

h1 {
    font-weight: 400;
    margin: 0px;
}

h2 {
    font-weight: 400;
    text-align: center;
}

h3 {
    font-weight: 400;
}

main {
    max-width: 600px;
    margin: auto;
    font-weight: 300;
    margin-bottom: 10vh;
}

a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--card-accent-color);
    color: var(--link-color);
    padding: 0.5em;
    border-radius: 0.3em;
    transition-duration: 400ms;
}

a:hover {
    background-color: var(--link-color);
    color: #fff;
}

.titulo {
    text-align: center;
    padding: 36px 24px;
    background-color: var(--header-background-color);
    color: #fff;
    border-bottom: 1px solid var(--header-border-color);
    margin-bottom: 36px;
}

.card {
    border: 2px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: 0 16px 25px 16px;
    margin-bottom: 10px;
}

.card__titulo {
    margin-bottom: 24px;
    font-weight: bold;
}

.card > p{
    font-size: 1.9ch;
}

.card__link {
    text-align: center;
    margin-top: 12px;
    font-size: 2ch;
}

@media (max-width: 600px) {
    .card {
        margin: 10px;
    }
}